Tuple(immutable) Method

#1- Count

In [3]:
t1 = (1,2,3,45,1,2,4,65,7,8,9,4)

In [4]:
t1.count(2)

2

2. index

return the index of the first occurance of the specified value.

In [5]:
t1

(1, 2, 3, 45, 1, 2, 4, 65, 7, 8, 9, 4)

In [6]:
t1.index(4)

6

Sets Method

1 - add(element)

In [12]:
set1 = {1,2,3}

In [13]:
set1.add(4)

remove(element)

In [14]:
set1.remove(4)

In [15]:
set1

{1, 2, 3}

In [16]:
set1.remove(4)

KeyError: 4

3.Discard (element)

remove the specified element but does not raise the error element is not found.

In [17]:
set1

{1, 2, 3}

In [18]:
set1.discard(4)

Pop ()

removew and return AN ARBITARY ELEMENT from the set,Raise key error if the set is empty element could be any element

In [19]:
set1

{1, 2, 3}

In [20]:
set1.pop()  # elemnet could be any element

1

5. clear

In [21]:
set1

{2, 3}

In [22]:
set1.clear()

In [23]:
set1

set()

6. UPDATE ()

In [30]:
set1 = {1,2}

In [32]:
set1.update({3,4,5})

In [33]:
set1

{1, 2, 3, 4, 5}

Empty set , dict,list,tuple

In [24]:
set1 = set()

In [26]:
dict = {}

In [28]:
li = []

In [29]:
t1= ()